.main-div
{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
 column-gap: 16px;
 row-gap: 40px;
 align-items:start;
 object-fit: cover;

}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.thumbnail {
   max-height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  border: 1px solid black;
}

.content-div 
{
 display: grid;
 grid-template-columns: 50px 1fr;
 margin-top: 10px;
}

.channel-photo{
  width: 36px;
  border-radius: 50px;
}


.video-title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-author
{
  font-size: 12px;
  margin-bottom: 4px;
  color : rgb(96,96,96);
}


@media (max-width: 550px) {
  .main-div{
    grid-template-columns: 1fr 1fr;
  }
}

